{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style-story-six.css' static %}">
    <title></title>
  </head>
  <body>
    <div class="jumbotron bg-light">
      <h2>Halo, apa kabar?</h2>
      <div class="card mx-auto justify-content-center" style="width: 18rem;">
        <div class="card-body">
        <form method="POST">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" id ="submit" class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 50%; font-size: 80%;">Submit</button>
        </form>
      </div>
    </div>
    {% if status %}
      <h3>Posted Status</h3>
      {% for status in status %}
      <h4 id = 'status'>{{ status.status }}</h4><span>{{ status.date }}</span>
      {% endfor %}
      {% else %}
      <h4>There's No Status Yet</h4>
      {% endif %}
    </div>
  </body>
</html>
